<div class="item-expense">
  <span class="{{system.expense.color}}">&#9650</span>
  <select name='system.expense.category'>
    {{selectOptions config.expenses.categoriesLocalised selected=system.expense.category localize=true}}
  </select>
</div>